.property-card:hover {
  box-shadow: rgba(7, 152, 255, 0.09) 0px 3px 5px;
}

.property-card .card-img {
  @apply overflow-hidden block relative;
}

.property-card .card-img::after {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 35%,
    rgba(0, 0, 0, 0) 65%,
    rgba(0, 0, 0, 0.2) 100%
  );
  content: "";
  transition: color 0.3s ease;
  @apply absolute top-0 bottom-0 w-full h-full;
}

.property-card .card-img img {
  transition: 0.3s ease all;
  @apply z-0;
}

.property-card:hover .card-img img {
  @apply scale-110 brightness-105;
}
