.property-swiper .swiper-button-prev,
.property-swiper .swiper-button-next {
  background: #0000006c;
  width: 40px;
  @apply rounded hover:bg-[#000000c7] transition-colors;
}

.property-swiper .swiper-button-prev:after,
.property-swiper .swiper-button-next:after {
  font-size: 24px;
}

.single-property .property-info,
.single-property .sidebar {
  box-shadow: rgba(7, 152, 255, 0.09) 0px 3px 5px;
  @apply bg-white p-8 rounded-md;
}

.single-property .info-title {
  @apply text-base font-medium pb-5 hover:text-[var(--btn-bg)] transition-colors;
}
.single-property .info-text {
  @apply text-sm font-medium;
}

.single-property .info-icon {
  @apply text-base;
}

.single-property .feature-title,
.single-property .plan-title {
  @apply text-sm font-medium;
}

.single-property .feature {
  @apply flex items-center gap-2 text-sm font-light;
}

.single-property .features-list {
  @apply grid grid-cols-3 justify-between gap-2 text-sm font-light capitalize;
}

.single-property
  .floor-plans
  .css-u26vfm-MuiPaper-root-MuiAccordion-root::before {
  @apply hidden;
}

.single-property .plan:hover .plan-title,
.single-property .plan:hover span {
  @apply text-[var(--btn-bg)];
}

.single-property .property-info .agent-link {
  color: #5c727db3;
  font-size: 15px;
  transition: all 0.3s ease;
}

.single-property .property-info .agent-link:hover {
  color: #0073e1;
}

.single-property .agent-contact-form .input {
  border: 1px solid var(--input-bg);
  @apply rounded-[4px] py-[10px] px-[15px] text-[13px] focus-visible:outline-none focus:bg-[var(--input-bg)] text-[#5c727d];
}
