.pagination {
  @apply flex justify-start items-stretch;
}

.pagination-btn {
  min-width: 40px !important;
  @apply bg-white text-black hover:text-[var(--btn-bg)] hover:bg-white shadow text-base;
}

button.active {
  @apply bg-[var(--btn-bg)] hover:bg-[var(--header-bg)] text-white hover:text-white;
}

.property-list-filter .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.MuiMenu-paper.MuiMenu-paper.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  min-width: 200px !important;
  max-height: 210px;
}

/* Chrome, Edge and Safari */
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.MuiMenu-paper.MuiMenu-paper.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper::-webkit-scrollbar {
  height: 15px;
  width: 15px;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.MuiMenu-paper.MuiMenu-paper.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #f1f1f1;
  padding: 5px;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.MuiMenu-paper.MuiMenu-paper.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #c8ceda;
  background-clip: padding-box;
  border: 5px solid rgba(0, 0, 0, 0);
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.MuiMenu-paper.MuiMenu-paper.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper::-webkit-scrollbar-thumb:hover {
  background-color: #9a9fa8;
}
