.latestProperties .swiper-button-prev,
.latestProperties .swiper-button-next {
  position: absolute;
  width: 42px;
  background-color: #f7f8f8;
  border-radius: 5px;
  color: #0073e1;
  font-size: 20px;
  transition: all 0.3s ease;
}

.latestProperties .swiper-button-prev::after,
.latestProperties .swiper-button-next::after {
  font-weight: 800 !important;
  font-size: 20px !important;
}

.latestProperties .swiper-button-prev:hover,
.latestProperties .swiper-button-next:hover {
  background-color: #0073e1 !important;
  color: white !important;
}

.latestProperties
  .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden.mySwiper {
  height: 530px;
  padding: 0px 10px;
}
